<div class="container" ng-controller="PanelController" ng-init="init()">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Nectar Console</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active" ng-click="scrollTo('clients')"><a>Client Management</a></li>
                    <li><a ng-click="scrollTo('users')">User Management</a></li>
                    <li><a ng-click="scrollTo('fts')">FTS management</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <p class="btn btn-primary" ng-click="logout()">Logout</p>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <br id="clients">

    <div class="container">

        <div class="alert alert-info">
            <strong>There are currently {{clientsOnline}} machines online, {{usersOnline}} users online, and {{adminsOnline}} admins online.</strong>
        </div>

        <div class="alert alert-danger" id="clientPanelFailureAlert">
            <strong id="clientPanelFailureAlertText">Failure Text</strong>
        </div>

        <div class="modal fade" id="modalClientRegister" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4><i class="material-icons">dns</i> Register a Client</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-horizontal">
                            <fieldset>
                                <button type="submit" id="btnClientRegisterModalRegister" class="btn btn-success btn-block" ng-click="registerClient()"><i class="material-icons">done</i> Generate Client Information</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalClientRegisterResult" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4><i class="material-icons">dns</i> New client information</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Client UUID: {{newClientUUID}}</h5>
                        <h5>Client Auth String: {{newClientAuth}}</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalClientView" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><i class="material-icons">settings</i> Manage Existing Clients</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-info" id="clientViewInfoAlert">
                            <strong id="clientViewInfoAlertText">Info Text</strong>
                        </div>

                        <div class="alert alert-success" id="clientViewSuccessAlert">
                            <strong id="clientViewSuccessAlertText">Success Text</strong>
                        </div>

                        <div class="alert alert-danger" id="clientViewFailureAlert">
                            <strong id="clientViewFailureAlertText">Failure Text</strong>
                        </div>

                        <table id="modalClientViewTable" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Hostname</th>
                                    <th>Status</th>
                                    <th>OS</th>
                                    <th>Updates</th>
                                    <th>Security Updates</th>
                                    <th>Signed in User</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="modalClientViewTableBody">
                                <tr class="bold paddedTable" ng-repeat="client in clientViewData" ng-class="client.trClass">
                                    <td>{{client.hostname}}</td>
                                    <td>{{client.state}}</td>
                                    <td ng-bind-html="client.os"></td>
                                    <td>{{client.updates}}</td>
                                    <td>{{client.securityUpdates}}</td>
                                    <td>{{client.signedInUser}}</td>
                                    <td>
                                        <div class="btn-group-sm btn-group-justified">
                                            <a class="btn btn-primary btn-fab-mini"><i class="material-icons">build</i></a>
                                            <a class="btn btn-danger btn-fab-mini" ng-click="deleteClient(client.uuid, client.hostname)"><i class="material-icons">delete_forever</i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalClientViewDeleteClient" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4><i class="material-icons">delete_forever</i> Confirm Removing Client</h4>
                    </div>
                    <div class="modal-body">
                        <div class="jumbotron">
                            <h3 class="bold">Confirm Removal of Client "{{deletingClientHostname}}"</h3>
                            <h4 class="bold">UUID: {{deletingClientUUID}}</h4>
                        </div>

                        <form role="form" class="form-horizontal">
                            <fieldset>
                                <button type="button" class="btn btn-danger btn-block" id="btnClientViewDeleteClient" ng-click="confirmDeleteClient(deletingClientUUID)">Confirm</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Clients Management</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-8">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Server "{{serverName}}"</h3>
                        </div>
                        <div class="panel-body">
                            <h4 style="font-weight: bold;">Server Software: </h4>
                            <h4 style="font-style: italic;">{{serverSoftware}}</h4>
                            <h4 style="font-weight: bold;">Server Software Version: </h4>
                            <h4 style="font-style: italic;">{{serverSoftwareVersion}}</h4>

                            <br>

                            <h4 style="font-weight: bold;">Server Event Log</h4>
                            <form role="form" class="form-horizontal">
                                <fieldset>
                                    <textarea class="form-control pull-left" rows="26" id="eventLog" readonly></textarea>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Client Actions</h3>
                        </div>
                        <div class="panel-body center">
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-info btn-lg btn-raised" id="btnClientView" ng-click="openClientsViewModal()">Manage Existing Clients</button>
                                <button type="button" class="btn btn-success btn-lg btn-raised" id="btnClientRegister" ng-click="openClientRegisterModal()">Register a Client</button>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Clients Status</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id="clientsChart" class="img-responsive" style="width: 100%; height: auto;"></canvas>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Updates Status</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id="updatesChart" class="img-responsive" style="width: 100%; height: auto;"></canvas>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Operations Status</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id="operationsChart" class="img-responsive" style="width: 100%; height: auto;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <br id="users">

    <div class="container">

        <div class="modal fade" id="modalUserCreate" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4><i class="material-icons">account_box</i> Create a new User</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label for="createUsrUsername">Username</label>
                                    <input type="text" class="form-control" id="createUsrUsername" placeholder="Enter username" ng-model="createUser.username">
                                </div>

                                <div class="form-group">
                                    <label for="createUsrPassword">Password</label>
                                    <input type="password" class="form-control" id="createUsrPassword" placeholder="Enter password" ng-model="createUser.password">
                                </div>

                                <div class="form-group">
                                    <input id="createUsrIsAdmin" type="checkbox" ng-model="createUser.isAdmin">
                                    <label for="createUserIsAdmin">Is Admin</label>
                                </div>

                                <br>

                                <button type="submit" class="btn btn-success btn-block" ng-click="createNewUser(createUser)"><i class="material-icons">done</i> Create</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalUserRemove" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4><i class="material-icons">account_box</i> Remove a User</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label for="removeUsrUsername">Username</label>
                                    <input type="text" class="form-control" id="removeUsrUsername" placeholder="Enter username" ng-model="removeUserData.username">
                                </div>

                                <br>

                                <button type="submit" class="btn btn-danger btn-block" ng-click="removeUser(removeUserData)"><i class="material-icons">done</i> Remove</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">User Management</h3>
            </div>
            <div class="panel-body">

                <div id="userPanelSuccessAlert" class="alert alert-success">
                    <strong id="userPanelSuccessAlertText">Success Text</strong>
                </div>

                <div id="userPanelFailureAlert" class="alert alert-danger">
                    <strong id="userPanelFailureAlertText">Failure Text</strong>
                </div>

                <div class="col-md-8">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Users Online</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id="usersChart" class="img-responsive" style="width: 100%; height: auto;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">User Actions</h3>
                        </div>
                        <div class="panel-body center">
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-info btn-lg btn-raised" id="btnUserView" ng-click="openUsersViewModal()">Manage Existing Users</button>
                                <button type="button" class="btn btn-success btn-lg btn-raised" id="btnUserCreate" ng-click="openUserCreateModal()">Create a new User</button>
                                <button type="button" class="btn btn-warning btn-lg btn-raised" id="btnUserRemove" ng-click="openRemoveUserModal()">Remove a User</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br id="fts">

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">FTS Management</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
